<div class='full-background-intro'>
  <div class='body-background' style='background-image: url({{ site.data[page.data_file].full-background-intro.image }})'></div>
  <div class='main text-center'>
    <h1 class='alt-font'>{{ site.data[page.data_file].full-background-intro.heading }}</h1>
    <!-- <a class='btn' href='{{ site.data[page.data_file].full-background-intro.button.link }}'>{{ site.data[page.data_file].full-background-intro.button.text }}</a> -->
    <!-- <a class='btn' href='{{ site.data[page.data_file].full-background-intro.button.link }}'>
      <img src='/resources/images/svg/arrow-right-circle.svg' />
    </a> -->
    <a class='enter-arrow' href='{{ site.data[page.data_file].full-background-intro.button.link }}'>
      <img src='/resources/images/svg/arrow-right-circle.svg' />
    </a>
    <!-- <div class='enter-arrow'>
      <img src='/resources/images/svg/arrow-right-circle.svg' />
    </div> -->
  </div>
</div>
