<nav class='nav-bar'>
  <div class='title'><a href='/#fade'>Angel Vazquez</a></div>
  <div class='menu'>
    <div class='burger-menu'>
      <div class='line top'></div>
      <div class='line middle'></div>
      <div class='line bottom'></div>
    </div>
    <div class='links'>
      <ul>
        <li><a href='/#fade'>About</a></li>
        <li><a href='/contact'>Contact</a></li>
        <li><a href='/gallery'>Gallery</a></li>
        <li><a href='/rates'>Rates</a></li>
      </ul>
    </div>
  </div>
</nav>
