<nav class='nav-bar'>
  <div class='title'><a href='/'>Angel Vazquez</a></div>
  <div class='menu'>
    <div class='burger-menu'>
      <div class='line top'></div>
      <div class='line middle'></div>
      <div class='line bottom'></div>
    </div>
    <div class='links'>
      <ul>
        <li class='{% if page.url == "/" %} active {% endif %}'><a href='/home'>About</a></li>
        <li class='{% if page.url == "/contact" %} active {% endif %}'><a href='/contact'>Contact</a></li>
        <li class='{% if page.url == "/gallery" %} active {% endif %}'><a href='/gallery'>Gallery</a></li>
        <li class='{% if page.url == "/rates" %} active {% endif %}'><a href='/rates'>Rates</a></li>
      </ul>
    </div>
  </div>
</nav>
