---
layout: main
title: Contact
permalink: /contact
data_file: 'contact'
---

<div class='page-container-full' id='example'>
  <div class='clm-2-md clm'>
    <h1 class='title'>Our Location</h1>
    <div class='info'>
      <p style='margin-bottom: 20px'>
        It was the best of times, it was the worst of times, it was the age of wisdom, it was the age of foolishness, it was the epoch of belief, it was the epoch of incredulity, it was the season of light, it was the season of darkness, it was the spring of hope, it was the winter of despair
      </p>
      {% for line in site.data[page.data_file].contact_info.address %}
        <p>{{ line }}</p>
      {% endfor %}
    </div>
  </div>
  <div class='clm-2-sm clm'>
    <div id="map"></div>
    <!-- <iframe width="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=New%20York%20city&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
  </div>
</div>

<!-- <h1 class='title'>Our Location</h1>
<div class=''>
  <div class='title-line'></div>
</div>
<div class='info'>
  {% for line in site.data[page.data_file].contact_info.address %}
    <p>{{ line }}</p>
  {% endfor %}
</div> -->

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {onSubmitForm();}"></iframe>

<div id='contact-form' class='page-container-full'>
  <div class='clm-2-sm clm'>
    <h1 class='title'>Contact Form</h1>
    <p style='margin-bottom: 30px'>
      To help visitors get in touch with you, double-click this page, hover the form, and click Edit. Then go to the Storage tab and choose where the information will be sent.
    </p>
  </div>
  <div class='clm-2-md clm'>
    <form>
      <label>Name</label>
      <div class='multi-input-wrapper'>
        <input type='text' id='fname-input'></input>
        <input type='text' id='lname-input'></input>
        <div class='sublabel'>First Name</div>
        <div class='sublabel'>Last Name</div>
      </div>
      <label>Email Address</label>
      <input type='email'></input>
      <label>Subject</label>
      <input type='text'></input>
      <label>Message</label>
      <textarea name="name" rows="4"></textarea>
      <input type='submit' class='btn' value='SUBMIT'></input
    </form>
  </div>
</div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.7648, lng: -73.9808},
      zoom: 11,
      disableDefaultUI: true
    });
  }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmt-iaL4EpFINiOwUqA2zJaBqUyCiQ_Lg&callback=initMap" async defer></script>

<!-- <div id='contact-form' class='page-container card'>
  <div class='card-only-column text-center'>
      <form class='form' action='https://docs.google.com/forms/d/e/1FAIpQLSeHcA40ILQO7pwooU6ovoLtQd_kzeUeFSiNUTLk73ERrEL9hA/formResponse' onsubmit="submitted=true" target="hidden_iframe">
        <div class='input-wrapper'>
          <input type="text" class='name' name="entry.77375347" placeholder="Name">
        </div>
        <div class='input-wrapper'>
          <input type="text" class='email' name="entry.1733405076" placeholder="Email">
        </div>
        <div class='input-wrapper'>
          <textarea row=4 placeholder="Write a message" name="entry.305836304"></textarea>
        </div>
        <input type='submit' value='Send' class='btn'/>
      </form>
      <div class='state'></div>
    </div>
</div> -->
