---
layout: main
title: Gallery
permalink: /gallery
data_file: 'gallery'
---

<div class='full-image'>
  <div class='full-image-wrapper'>
    <img src=''/>
  </div>
</div>

<div class='page-container-full' id='gallery'>
  {% for image in site.data[page.data_file].gallery.images %}
    <div class='card'>
      <div class='image'>
        <img id='image-{{ forloop.index0 }}'src='{{ image.source }}'>
      </div>
      {% if image.description %}
        <div class='image-description'>
          <p>
            {{ image.description }}
          </p>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
